html {
  margin: 5px 0 0 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0; }

header {
  margin-left: 10%;
  margin-right: 10%;
  display: flex; }
  header #lefthead {
    display: flex; }
    header #lefthead #logo {
      width: 40px;
      height: 40px; }
    header #lefthead #logohead {
      margin: 0;
      font-family: 'Big Shoulders Text', cursive; }
    header #lefthead #tagline {
      margin: 6px 0 0 20px;
      width: 140px;
      font-family: 'Big Shoulders Text', cursive; }
  header #righthead {
    margin-left: 50%; }
    header #righthead #hamburger {
      font-size: 20px;
      visibility: hidden; }
    header #righthead .dropdown {
      position: relative;
      display: inline-block; }
    header #righthead .dropdown-content {
      position: absolute;
      z-index: 1;
      right: 0;
      display: none;
      background: #d4e4fc;
      padding: 5px;
      border: 4px solid black; }
      header #righthead .dropdown-content #uldropdown {
        margin-right: 30px;
        margin-left: 30px;
        padding: 0;
        list-style-type: none; }
        header #righthead .dropdown-content #uldropdown .adropdown {
          text-decoration: none; }
          header #righthead .dropdown-content #uldropdown .adropdown .lidropdown {
            font-size: 60px;
            font-family: 'Big Shoulders Text', cursive;
            color: black;
            padding: 30px;
            margin-top: 10px;
            border: 1px solid black; }
      header #righthead .dropdown-content #onlyicons {
        margin-right: 30px;
        margin-left: 30px;
        padding: 0;
        list-style-type: none; }
        header #righthead .dropdown-content #onlyicons .adropdown {
          text-decoration: none; }
          header #righthead .dropdown-content #onlyicons .adropdown .lidropdown {
            font-size: 60px;
            font-family: 'Big Shoulders Text', cursive;
            color: black;
            padding: 30px 0 30px 0;
            margin-top: 10px; }

nav {
  margin-left: 10%;
  margin-right: 10%; }
  nav #navul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;
    font-size: 20px; }
    nav #navul a {
      color: black; }
      nav #navul a .navli {
        float: left;
        font-family: 'Big Shoulders Text', cursive; }

#content {
  margin-left: 10%;
  margin-right: 10%; }
  #content #contenthead h1 {
    font-family: 'Nunito', sans-serif; }
  #content #contenthead p {
    font-family: 'Nunito', sans-serif; }
  #content #paleoandketo {
    display: flex; }
    #content #paleoandketo #paleocontent h1 {
      font-family: 'Nunito', sans-serif; }
    #content #paleoandketo #paleocontent {
      padding: 10px;
      border: 2px solid black;
      margin-right: 30px;
      background-color: lightgreen; }
      #content #paleoandketo #paleocontent h2 {
        font-family: 'Big Shoulders Text', cursive; }
      #content #paleoandketo #paleocontent h3 {
        font-family: 'Nunito', sans-serif; }
      #content #paleoandketo #paleocontent p {
        font-family: 'Nunito', sans-serif; }
      #content #paleoandketo #paleocontent table {
        border-collapse: collapse;
        width: 100%; }
        #content #paleoandketo #paleocontent table #throw #th1 {
          background-color: green;
          color: white;
          width: 100px;
          font-weight: bold;
          font-family: 'Nunito', sans-serif; }
        #content #paleoandketo #paleocontent table #throw #th2 {
          background-color: red;
          color: white;
          width: 100px;
          font-weight: bold;
          font-family: 'Nunito', sans-serif; }
        #content #paleoandketo #paleocontent table tr td {
          text-align: center;
          font-weight: bold;
          border: 1px solid lightgray;
          font-family: 'Nunito', sans-serif; }
        #content #paleoandketo #paleocontent table .tdrow:nth-of-type(odd) {
          background-color: lightgray; }
    #content #paleoandketo #ketocontent {
      padding: 10px;
      border: 2px solid black;
      background-color: lightblue; }
      #content #paleoandketo #ketocontent h2 {
        font-family: 'Big Shoulders Text', cursive; }
      #content #paleoandketo #ketocontent h3 {
        font-family: 'Nunito', sans-serif; }
      #content #paleoandketo #ketocontent p {
        font-family: 'Nunito', sans-serif; }
      #content #paleoandketo #ketocontent table {
        border-collapse: collapse;
        width: 100%; }
        #content #paleoandketo #ketocontent table #throw #th1 {
          background-color: green;
          color: white;
          width: 100px;
          font-weight: bold;
          font-family: 'Nunito', sans-serif; }
        #content #paleoandketo #ketocontent table #throw #th2 {
          background-color: red;
          color: white;
          width: 100px;
          font-weight: bold;
          font-family: 'Nunito', sans-serif; }
        #content #paleoandketo #ketocontent table tr td {
          text-align: center;
          font-weight: bold;
          border: 1px solid lightgray;
          font-family: 'Nunito', sans-serif; }
        #content #paleoandketo #ketocontent table .tdrow:nth-of-type(odd) {
          background-color: lightgray; }

footer {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 20px 0;
  background-color: #60d44c; }
  footer h1 {
    font-family: 'Big Shoulders Text', cursive; }
  footer #footerul {
    list-style-type: none;
    padding-left: 150px; }
    footer #footerul .footerli {
      padding-right: 10px;
      float: left; }
      footer #footerul .footerli i {
        border: 1px solid black;
        padding: 10px;
        border-radius: 50%;
        width: 20px;
        height: 20px; }

/*small phone*/
@media screen and (min-width: 481px) and (max-width: 767px) {
  header #righthead {
    margin-left: 30%; }
    header #righthead #hamburger {
      font-size: 40px;
      visibility: visible; }
    header #righthead .dropdown:hover .dropdown-content {
      display: flex;
      justify-content: center; }

  nav {
    visibility: hidden;
    margin: 0;
    padding: 0;
    width: 0px; }

  footer #footerul {
    padding-left: 0px; } }
/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1000px) {
  header #righthead {
    margin-left: 40%; }
    header #righthead #hamburger {
      font-size: 40px;
      visibility: visible; }
    header #righthead .dropdown:hover .dropdown-content {
      display: flex;
      justify-content: center; }

  nav {
    visibility: hidden;
    margin: 0;
    padding: 0;
    width: 0px; }

  footer #footerul {
    padding-left: 10px; } }
/*desktop*/

/*# sourceMappingURL=style-diet.css.map */
